.footer {
  width: 100%;
  padding: 3rem 1rem;
  background: #222;
  color: #fff;
  text-align: center;
}

.footer h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.footer p {
  font-size: 1rem;
}
